{% extends 'layout.html' %}
{% load static %}
{% block title %}
    NetPetz
{% endblock %}

{% block content %}
    <section>
    <img class="netPetsLogoMedium" src="{% static 'images/wordArt.png' %}" alt="Net Pet" style="display: block; margin: 0 auto;">
        {% for pet in pets %}
            <article class="pet">
                <h2> 
                    <a href="{% url 'pets:page' slug=pet.slug%}">
                    {{pet.name}}
                    </a> 
                </h2>
                <p> {{pet.date}} by {{ pet.author }} </p>
            </article>
        {% endfor %}
        <a href="{% url 'pets:create' %}">➕ Create New Pet</a>
    </section>
{% endblock %}